<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact API-By Anubahv</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1{
            color: #333;
        }
        p{
            color: #666;
        }
    </style>
    

</head>
<body>
    <h1>Welcome to Contact API</h1>
    <p>This is a simple Contact API developed by Anubhav Sahu</p>
    <p>For more information about API endpoints, please visit <a href="https://github.com/anubhavnair/" target="_blank">here</a></p>   
</body>
</html>